@use "../presets" as *;
@use "../mixins" as *;

.header {
  position: relative;



  &__wrap {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 30%;
      width: 945px;
      height: 705px;
      background: #FF00E5;
      mix-blend-mode: soft-light;
      filter: blur(127.5px);
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -100px;
      left: 0%;
      /* transform: translateX(-50%); */
      width: 945px;
      height: 945px;
      background: #00A3FF;
      mix-blend-mode: soft-light;
      filter: blur(127.5px);
      z-index: 1;
    }

    padding-top: 60px;

    @include md {
      // margin-bottom: 16px;
    }

    @media (max-width: 576.8px) {
      // margin-bottom: 24px;
    }
  }

  &__contant {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 945px;
      height: 945px;
      background: #4351D0;
      opacity: 0.3;
      filter: blur(127.5px);
      z-index: 3;
    }




    z-index: 3;

    display: flex;
    align-items: start;

    gap: 15px;

    @include xl {
      // gap: $gap-xl;
    }

    @include lg-min {
      justify-content: space-between;
    }

    @include lg {
      justify-content: space-around;

    }

    @include sm {}



    @media (min-width: 1100.8px) {
      height: 100vh;
      min-height: 950px;
      max-height: 1200px;
    }

    @media (max-width: 585.8px) {
      justify-content: center;
    }
  }

  &__img-box {
    position: relative;
    z-index: 11;



    @include xl {
      margin-left: 40px;
    }

    @include md {}

    @media (max-width: 585.8px) {
      display: none;

    }

    // &::before {
    //   position: absolute;
    //   z-index: 5;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;

    //   height: 150px;

    //   content: "";

    //   background: linear-gradient(180deg, rgba(15, 24, 21, 0) 0%, #1f2d28 100%);
    // }
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      background: #FF00E5;
      mix-blend-mode: soft-light;
      filter: blur(127.5px);
      width: 400px;
      height: 150px;
      right: 0;
      bottom: 200px;

    }

    &:before {

      position: absolute;
      content: "";
      width: 225px;
      height: 225px;
      top: 300px;
      background: #FCB82F;
      filter: blur(75px);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }


  }


  &__img {
    position: relative;

    display: inline-block;

    max-width: 600px;

    @include xl {
      max-width: 520px;
    }

    @include lg {
      max-width: 350px;
    }

    @include md {
      max-width: 275px;
    }


    @media (min-height: 1150.8px) {
      max-width: 760px;
    }

    @media (min-height: 1100.8px) {
      max-width: 730px;
    }

    @media (min-height: 1050.8px) {
      max-width: 700px;
    }

    @media (min-height: 1000.8px) {
      max-width: 650px;
    }
  }


  &__item-wrap {
    position: relative;
    z-index: 3;
  }
}