@use "../presets" as *;
@use "../mixins" as *;

.decor {
  position: relative;

  &__left {

    @include lg-min {
      position: absolute;
      z-index: 3;
      top: -143px;
      left: -28px;
      left: 0;
      background: #FF00E5;
      mix-blend-mode: soft-light;
      filter: blur(127.5px);
      width: 860px;
      height: 860px;

    }

    @include xl {
      z-index: 4;
    }

    // @include xl {
    //   max-width: 371px;
    // }

    // @include lg {
    //   max-width: 155px;
    // }

    // @include xs {
    //   max-width: 118px;
    // }
  }

  &__right {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include lg-min {
      background: linear-gradient(218.96deg, #00013A 27.46%, rgba(0, 1, 58, 0) 79.19%);

    }

    @include lg {
      background: linear-gradient(253.23deg, #00013A 4.33%, rgba(0, 1, 58, 0) 97.53%);
      z-index: 1;
    }

    @include xx {
      height: 514px;
      width: 604px;
      z-index: 2;
    }
  }

  &__main {
    position: relative;

    background-image: url(../img/background-main-foto.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index: 5;

    @include xl-min {
      background-size: cover;

    }

    @include xl {
      background-position: 0 0;
    }

    @include lg {
      background-size: cover;
      background-position: 50% 20%;
    }

    @include sm {
      background-position: -60% 100%;
      background-size: 90%;

    }

    @media (max-width: 585.2px) {
      background-position: 0% 0;
      background-size: 120%;
    }

    @include xx {
      background-size: 175%;
      background-position: 20% -75px;

    }

    &::before {
      position: absolute;
      z-index: 5;
      right: 0;
      bottom: -2px;
      left: 0;

      height: 350px;

      content: "";

      background: linear-gradient(360deg, #01023D 0%, rgba(1, 2, 61, 0.79) 38.02%, rgba(1, 2, 61, 0) 96.87%);

      z-index: 12;

      @include xl {}

      @include lg {
        height: 100px;
      }

      @include md {
        // height: 50px;
      }

      @media (max-width: 1500.8px) {
        // height: 80px;
      }
    }
  }
}